:root {
  --first-color: #2e2f42;
  --second-color: #434455;
  --first-background-color: #ffffff;
  --second-background-color: #2e2f42;
  --accent-color: #4d5ae5;
  --duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================================================================== */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  background-color: var(--first-background-color);
  color: var(--first-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ==================================Шапка=============================== */
.header {
  box-shadow: 0px 2px 1px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
    0px 1px 6px rgb(46 47 66 / 8%);
}
.cont-nav {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-web {
  color: var(--accent-color);
}

.logo-studio-top {
  color: var(--first-color);
  margin: 0;
}

.menu {
  display: flex;
  margin-left: 77px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--first-color);
  transition: color var(--duration-function);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: var(--accent-color);
  border-radius: 2px;
}

.current {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact-mail,
.contact-phone {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
  transition: color var(--duration-function);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}
/* ==================================/ Шапка=============================== */

/* ===================================HERO================================ */
.hero {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 192px;
  padding-bottom: 192px;
  background-color: var(--second-background-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
    url(../images/people-office\ .jpg);
  background-size: cover;
  background-position: center;
}
.hero-title {
  width: 492px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--first-background-color);
}

.hero-btn {
  border: transparent;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 170px;
  height: 51px;
  display: inline-block;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--duration-function), box-shadow var(--duration-function);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-btn:active {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ===================================/ HERO================================ */

/* ================================Наші переваги=========================== */
.list-advantage {
  display: flex;
}

.item-advantages {
  width: 264px;
}
.item-advantages:not(:last-child) {
  margin-right: 24px;
}

.icon-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
}

.title-advantages {
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--first-color);
}

.text-advantages {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}
/* ================================/ Наші переваги=========================== */

/* =================================Що ми робимо============================= */
.job-section {
  padding-bottom: 120px;
}
.job-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--first-color);
}
.job-list {
  display: flex;
  gap: 24px;
}
.job-item {
  flex-basis: calc((100% - 48px) / 3);
}
.job-content {
  border: 1px solid #e7e9fc;
}

/* ================================/ Що ми робимо============================= */

/* =================================Наша команда============================== */
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 48px) / 3);
  background-color: var(--first-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.team-employee {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--first-color);
}

.team-position {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.social-list-icon {
  fill: #f4f4fd;
}
/* =================================/ Наша команда============================== */

/* ===================================Клієнти===================================  */
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: fill var(--duration-function), border-color var(--duration-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* =====================================/ Клієнти===============================  */

/* ===================================Футер===================================== */

.footer-space {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--second-background-color);
}
.logo-studio-bottom {
  color: #f4f4fd;
}
.footer-text {
  margin-top: 16px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}
.footer-logo {
  margin-right: 120px;
}
.social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.social-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration-function);
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #31d0aa;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.title-form-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.wrapper-subscribe {
  display: flex;
  align-items: center;
}
.field-subscribe {
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 24px;
  color: #ffffff;
  background-color: var(--second-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.field-subscribe::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 168px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.icon-subscribe {
  fill: #ffffff;
}
/* ==================================/ Футер===================================== */

/* .......................................Портфоліо сторінка..................... */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* ========================================Фільтр================================ */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.cont-footer {
  display: flex;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.filter-btn {
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--duration-function), background-color var(--duration-function),
    border var(--duration-function), box-shadow var(--duration-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========================================/ Фільтр=================================== */

/* ========================================Портфоліо================================== */
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-portfolio {
  flex-basis: calc((100% - 48px) / 3);
}

.link-portfolio {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--duration-function);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border-left: 0.5px solid #f4f4fd;
  border-bottom: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
}

.title-portfolio {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--first-color);
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}
.overlay-portfolio {
  position: relative;
  overflow: hidden;
}

.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
  transform: translate(0, 0);
}

.overlay {
  padding: 40px 32px 164px 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: auto;
  background-color: #4d5ae5;
  transform: translate(0, 100%);
  transition: transform var(--duration-function);
}
/* ========================================/ Портфоліо================================ */

/* ======================================== Модальне вікно============================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--duration-function), visibility var(--duration-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 408px;
  height: 576px;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--duration-function), box-shadow var(--duration-function),
    border-color var(--duration-function);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-color: #ffffff;
}

.title-modal-form {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-field {
  display: block;
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration-function);
}
.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.input-icon-wrapper {
  display: block;
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--duration-function);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-message {
  font-size: 12px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--duration-function);
}
.modal-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 16px;
}

.form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.form-check-desc-link {
  color: var(--accent-color);
}
.icon-check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  transition: background-color var(--duration-function), border-color var(--duration-function);
}
.icon-check {
  fill: #ffffff;
}
.form-check:checked + label .icon-check-box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.form-check:focus + label .icon-check-box {
  border-color: var(--accent-color);
}

.modal-submit {
  align-self: center;
}
/* ========================================/ Модальне вікно=========================== */
